@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 0%;
    --card: 0 0% 95%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 95%;
    --popover-foreground: 0 0% 0%;
    --primary: 176 42% 35%;
    --primary-foreground: 0 0% 0%;
    --secondary: 342 74% 79%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 48 87% 63%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 48 87% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 100%;
    --card: 0 0% 5%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 100%;
    --primary: 176 42% 65%;
    --primary-foreground: 0 0% 5%;
    --secondary: 204 82% 24%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 48 87% 37%;
    --accent-foreground: 0 0% 5%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 48 87% 60%;
  }
}

@layer base {
  .glassblur {
    backdrop-filter: blur(10px);
  }
  .softblur {
    backdrop-filter: blur(5px);
  }
  .tinyblur {
    backdrop-filter: blur(1px);
  }
}

@layer utilities {
  .moonblossom {
    font-family: "moonblossom", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .galindo {
    font-family: "Galindo", serif;
    font-weight: 400;
    font-style: normal;
  }
  .stanyan {
    font-family: "p22-stanyan", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .stanbold {
    font-family: "p22-stanyan", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
}
